###Intro to cloud
---
תירגול 2<br/>
JSON

In [1]:
#from google.colab import drive
#drive.mount('/content/drive')
#unproc_dataset = pd.read_csv("/content/drive/My Drive/dml_summer/IMDB Dataset.csv")

In [2]:
import json
from google.colab import drive

In [3]:

print("Dictionary: ", json.dumps({"name": "John", "age": 30}))
print("List:       ", json.dumps(["apple", "bananas"]))
print("Tuple:      ", json.dumps(("apple", "bananas")))
print("String:     ", json.dumps("hello"))
print("Integer:    ", json.dumps(42))
print("Float:      ", json.dumps(31.76))
print("True:       ", json.dumps(True))
print("False:      ", json.dumps(False))
print("None:       ", json.dumps(None))

Dictionary:  {"name": "John", "age": 30}
List:        ["apple", "bananas"]
Tuple:       ["apple", "bananas"]
String:      "hello"
Integer:     42
Float:       31.76
True:        true
False:       false
None:        null

In [4]:
json_data = '{"acronym": "BLD", "name": "Boulder Colorado", \
              "latitude": 40.00, "longitude": -105.25}'
python_obj = json.loads(json_data)
print("Name:     ", python_obj["name"])
print("Acronym:  ", python_obj["acronym"])
print("Latitude: ", python_obj["latitude"])
print("Latitude: ", python_obj["longitude"])

print()
print(json.dumps(python_obj, sort_keys=True, indent=4))

Name:      Boulder Colorado
Acronym:   BLD
Latitude:  40.0
Latitude:  -105.25

{
    "acronym": "BLD",
    "latitude": 40.0,
    "longitude": -105.25,
    "name": "Boulder Colorado"
}

In [5]:
array = '{"drinks": ["coffee", "tea", "water"]}'
data = json.loads(array)

print(json.dumps(data, sort_keys=True, indent=4))
print()
for element in data["drinks"]:
    print(element)

{
    "drinks": [
        "coffee",
        "tea",
        "water"
    ]
}

coffee
tea
water

In [6]:
json_data = '{"acronym": "BLD", "name": "Boulder Colorado", \
              "latitude": 40.00, "longitude": -105.25}'
python_obj = json.loads(json_data)
print("Name:     ", python_obj["name"])
print("Acronym:  ", python_obj["acronym"])
print("Latitude: ", python_obj["latitude"])
print("Latitude: ", python_obj["longitude"])


print(json.dumps(python_obj, sort_keys=True, indent=4))

Name:      Boulder Colorado
Acronym:   BLD
Latitude:  40.0
Latitude:  -105.25
{
    "acronym": "BLD",
    "latitude": 40.0,
    "longitude": -105.25,
    "name": "Boulder Colorado"
}

In [7]:
json_string = """
{
    "researcher": {
        "name": "Ford Prefect",
        "species": "Betelgeusian",
        "relatives": [
            {
                "name": "Zaphod Beeblebrox",
                "species": "Betelgeusian"
            }
        ]
    }
}
"""
data = json.loads(json_string)
print(json.dumps(data, sort_keys=True, indent=4))

{
    "researcher": {
        "name": "Ford Prefect",
        "relatives": [
            {
                "name": "Zaphod Beeblebrox",
                "species": "Betelgeusian"
            }
        ],
        "species": "Betelgeusian"
    }
}

In [8]:
drive.mount('/content/drive')

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

with open('/content/drive/My Drive/Intro to cloud/s1.json', "w") as fid:
     json.dump(x, fid)

Mounted at /content/drive

In [10]:
with open('/content/drive/My Drive/Intro to cloud/s1.json', "r") as fid:
     z = json.load(fid)

print(z)
for key in z:
    print(key+":\t", z[key])

{'name': 'John', 'age': 30, 'married': True, 'divorced': False, 'children': ['Ann', 'Billy'], 'pets': None, 'cars': [{'model': 'BMW 230', 'mpg': 27.5}, {'model': 'Ford Edge', 'mpg': 24.1}]}
name:	 John
age:	 30
married:	 True
divorced:	 False
children:	 ['Ann', 'Billy']
pets:	 None
cars:	 [{'model': 'BMW 230', 'mpg': 27.5}, {'model': 'Ford Edge', 'mpg': 24.1}]

In [11]:
x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}
print("Python Object: \n\t", x)

for key in x:
    print(key+":\t", x[key])

x_js = json.dumps(x)
print("\nCorresponding JSON Object: \n\t", x_js)

y = json.loads(x_js)
print("\nGoing back to Python: \n")
for key in y:
    print(key+":\t", y[key])

Python Object:
	 {'name': 'John', 'age': 30, 'married': True, 'divorced': False, 'children': ('Ann', 'Billy'), 'pets': None, 'cars': [{'model': 'BMW 230', 'mpg': 27.5}, {'model': 'Ford Edge', 'mpg': 24.1}]}
name:	 John
age:	 30
married:	 True
divorced:	 False
children:	 ('Ann', 'Billy')
pets:	 None
cars:	 [{'model': 'BMW 230', 'mpg': 27.5}, {'model': 'Ford Edge', 'mpg': 24.1}]

Corresponding JSON Object:
	 {"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

Going back to Python:

name:	 John
age:	 30
married:	 True
divorced:	 False
children:	 ['Ann', 'Billy']
pets:	 None
cars:	 [{'model': 'BMW 230', 'mpg': 27.5}, {'model': 'Ford Edge', 'mpg': 24.1}]